* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    font-size: 13pt;
    font-family: 'Univers', sans-serif;
}

.jumbo {
    padding: 3em;
    height: 100vh;
    color: #fff;
    background-image: url('/assets/img/jumbo-background.png');
    background-size:100% 100%;
    margin-bottom: 3em;
}

.jumbo>h1 {
    font-size: 3em;
    text-align: right;
}

.jumbo>#logo {
    width: 20em;
    height: 20em;
    display: block;
    margin: 5% auto;
}

#main-menu {
    color: #333;
    font-size: 1em;
}

#main-menu a {
    color: #000;
    text-decoration: none;
}

figure>img {
    /* position: absolute;
    z-index: 0; */
    width: 100%;

    transition: .5s filter;
}

figure>figcaption {
    /* z-index: 1; */
    color:rgba(255, 255, 255, 0);

    font-size: 2em;
    font-weight: bold;

    position: relative;
    top: -30%;
    width: 100%;
    text-align: center;

    transition: .5s color;
}

figure:hover>img {
    filter:blur(5px);
}
figure:hover>figcaption {
    color:rgba(255, 255, 255, 255)
}