* {
    padding: 0;
    margin: 0;
}

body {
    background: beige;
    color:#fff;
    font-size: 13pt;
    font-family: sans-serif;
}

.jumbo {
    height: 80vh;
}

#main-menu {
    color: #000;
    font-size: 2em;
}

#main-menu a {
    color: #000;
    text-decoration: none;
}

figure>img {
    /* position: absolute;
    z-index: 0; */
    width: 100%;

    transition: .5s filter;
}

figure>figcaption {
    /* z-index: 1; */
    color:rgba(255, 255, 255, 0);

    font-size: 2em;
    font-weight: bold;

    position: relative;
    top: -30%;
    width: 100%;
    text-align: center;

    transition: .5s color;
}

figure:hover>img {
    filter:blur(5px);
}
figure:hover>figcaption {
    color:rgba(255, 255, 255, 255)
}