@font-face {
    font-family: 'Univers';
    src: url('assets/Univers-light-normal.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 13pt;
    background: #fff;
    color: #333;
    font-family: 'Univers', sans-serif;
}

p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    margin: 2em;
    list-style: square;
}

li {
    line-height: 2em;
}

#grid {
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        'header header header'
        'sidebar content right'
        'footer footer footer';
    grid-template-rows:  calc(100vh + 3em) minmax(100px,auto) minmax(200px, auto);
}

.jumbo {
    grid-area: header;
    padding: 3em;
    
    color: #fff;
    background-image: url('/assets/img/jumbo-background.png');
    background-size:100% 100%;
}

.jumbo>h1 {
    font-weight: normal;
    font-size: 2em;
    text-align: right;
}

.jumbo>#logo {
    width: 20em;
    height: 20em;
    display: block;
    position: absolute;
    top: calc(50% - 10em);
    left: calc(50% - 10em);
}

a.scroller {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
    display: block;
    text-align: center;
    line-height: 18pt;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #fff 1px solid;
    margin:0 auto;
    position: absolute;
    left: calc(50% - 32px);
    bottom: 1em;
}

a.scroller:hover {
    text-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
}

#main-menu {
    grid-area: sidebar;
    font-size: 1em;
    padding: 0 2em;
}

#main-menu ul{
    margin: 0;
    list-style: none;
}

#main-menu ul>li:hover{
    font-weight: bold;
}
#main-menu a {
    color: #000;
    text-decoration: none;
}

#main {
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
}

#main figure {
    font-size: 2em;

    width: calc(50% - 3em);
    margin: 0 1.5em 3em 1.5em;
    overflow: hidden;

    position: relative;
}

figure>img {
    width: 100%;
    margin:-5px -10px -10px -5px;
    transition: .5s filter;
}

figure>figcaption {
    position: absolute;
    top: calc(50% - 0.5em);
    color:rgba(255, 255, 255, 255);
    width: 100%;
    text-align: center;

    transition: .5s color;
}


@media(pointer: fine){
    /* blurred animation on hover only when no touch */
    figure>figcaption {
        color: rgba(255, 255, 255, 0);
    }
    figure:hover>img {
        filter:blur(5px);
    }
    figure:hover>figcaption {
        color:rgba(255, 255, 255, 255)
    }
}

.content-grid {
    display: grid;
    grid-gap: 15em;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        'text pic'
        'footer footer';       

    margin: 5em;
}

#about {
    grid-area: text;
}

#profile-picture {
    grid-area: pic;
    width: 100%;
}

footer {
    grid-area: footer;
    text-align: center;
}